In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/2013-10-01_capture-win8.netflow.csv")

In [ ]:
df.head(5)

,StartTime,Dur,Label,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,dTos,TotPkts,TotBytes
0,1970/01/01 01:00:00.000000,0.000000,flow=Background,llc,00:00:00:00:00:00,0,->,00:00:00:00:00:00,0,INT,NaN,NaN,1.0,60.0
1,1970/01/01 01:00:45.810838,2.003218,flow=Background-ARP,arp,0.0.0.0,NaN,who,10.0.2.22,NaN,INT,NaN,NaN,3.0,126.0
2,1970/01/01 01:00:45.810967,0.000000,flow=Background,ipv6-icmp,::,135,->,ff02::1:ff01:e8a5,0,NNS,0.0,NaN,1.0,78.0
3,1970/01/01 01:00:45.813565,4.003125,flow=Background,ipv6-icmp,fe80::705a:530f:1701:e8a5,133,->,ff02::2,0,NRS,0.0,NaN,2.0,140.0
4,1970/01/01 01:00:45.813632,0.498083,flow=Background,ipv6-icmp,fe80::705a:530f:1701:e8a5,143,->,ff02::16,0,UNK,0.0,NaN,2.0,180.0

In [ ]:
df.shape

(168613, 14)

In [ ]:
df.nunique()

StartTime    168613
Dur           28765
Label            11
Proto             6
SrcAddr         124
Sport         62129
Dir               7
DstAddr        1184
Dport           624
State            62
sTos              2
dTos              1
TotPkts         121
TotBytes       7044
dtype: int64

In [ ]:
df.describe()

                 Dur           sTos      dTos        TotPkts       TotBytes
count  168613.000000  168607.000000  108993.0  168612.000000  168612.000000
mean        0.577725       0.004555       0.0       4.095871    1094.455235
std         1.151707       0.935168       0.0       7.291331    5720.133322
min         0.000000       0.000000       0.0       1.000000      54.000000
25%         0.000744       0.000000       0.0       2.000000     124.000000
50%         0.009585       0.000000       0.0       2.000000     166.000000
75%         0.064520       0.000000       0.0       4.000000     438.000000
max         4.999975     192.000000       0.0     809.000000  611892.000000

In [ ]:
df['Dir']

0          ->
1         who
2          ->
3          ->
4          ->
         ...
168608     ->
168609     ->
168610     ->
168611    <->
168612    NaN
Name: Dir, Length: 168613, dtype: object

In [ ]:
df['Proto'].unique()

array(['llc', 'arp', 'ipv6-icmp', 'udp', 'icmp', 'tcp', nan], dtype=object)

In [ ]:
df.groupby(['Proto']).mean()

<ipython-input-12-b3428ecf515f>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Proto']).mean()

                Dur       sTos  dTos   TotPkts     TotBytes
Proto
arp        0.500874        NaN   NaN  2.250000    94.500000
icmp       0.473256  12.190476   NaN  1.333333   143.507937
ipv6-icmp  1.125302   0.000000   NaN  1.500000   117.000000
llc        0.000000        NaN   NaN  1.000000    60.000000
tcp        0.775382   0.000000   0.0  4.876270  1432.402050
udp        0.044879   0.000000   0.0  1.995833   184.705977

In [ ]:
df['Label'] == 'flow=Background'

0          True
1         False
2          True
3          True
4          True
          ...
168608    False
168609    False
168610    False
168611    False
168612    False
Name: Label, Length: 168613, dtype: bool

### Choosing the Type of Data I Want to Keep

* Drop dTos because it produces the largest number of null values, not important to keep

In [ ]:
df['dTos'].isnull().sum()

59620

In [ ]:
df.isnull().sum()

StartTime        0
Dur              0
Label            0
Proto            1
SrcAddr          1
Sport            5
Dir              1
DstAddr          1
Dport            5
State            1
sTos             6
dTos         59620
TotPkts          1
TotBytes         1
dtype: int64

In [ ]:
selected_df = df.drop(columns=['dTos'])

In [ ]:
selected_df.head(5)

,StartTime,Dur,Label,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,TotPkts,TotBytes
0,1970/01/01 01:00:00.000000,0.000000,flow=Background,llc,00:00:00:00:00:00,0,->,00:00:00:00:00:00,0,INT,NaN,1.0,60.0
1,1970/01/01 01:00:45.810838,2.003218,flow=Background-ARP,arp,0.0.0.0,NaN,who,10.0.2.22,NaN,INT,NaN,3.0,126.0
2,1970/01/01 01:00:45.810967,0.000000,flow=Background,ipv6-icmp,::,135,->,ff02::1:ff01:e8a5,0,NNS,0.0,1.0,78.0
3,1970/01/01 01:00:45.813565,4.003125,flow=Background,ipv6-icmp,fe80::705a:530f:1701:e8a5,133,->,ff02::2,0,NRS,0.0,2.0,140.0
4,1970/01/01 01:00:45.813632,0.498083,flow=Background,ipv6-icmp,fe80::705a:530f:1701:e8a5,143,->,ff02::16,0,UNK,0.0,2.0,180.0

* drop StartTime and Dur, they don't provide any useful data on network related information. It is not important to keep, therefore we can get rid of this feature

In [ ]:
selected_df = selected_df.drop(columns=['StartTime', 'Dur'])

In [ ]:
selected_df.head(5)

,Label,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,TotPkts,TotBytes
0,flow=Background,llc,00:00:00:00:00:00,0,->,00:00:00:00:00:00,0,INT,NaN,1.0,60.0
1,flow=Background-ARP,arp,0.0.0.0,NaN,who,10.0.2.22,NaN,INT,NaN,3.0,126.0
2,flow=Background,ipv6-icmp,::,135,->,ff02::1:ff01:e8a5,0,NNS,0.0,1.0,78.0
3,flow=Background,ipv6-icmp,fe80::705a:530f:1701:e8a5,133,->,ff02::2,0,NRS,0.0,2.0,140.0
4,flow=Background,ipv6-icmp,fe80::705a:530f:1701:e8a5,143,->,ff02::16,0,UNK,0.0,2.0,180.0

In [ ]:
selected_df.nunique()

Label          11
Proto           6
SrcAddr       124
Sport       62129
Dir             7
DstAddr      1184
Dport         624
State          62
sTos            2
TotPkts       121
TotBytes     7044
dtype: int64

In [ ]:
Label_all_types = selected_df['Label'].unique()
print(Label_all_types)

['flow=Background' 'flow=Background-ARP' 'flow=From-Botnet-V1-UDP-Attempt'
 'flow=From-Botnet-V1-DNS' 'flow=From-Botnet-V1-TCP-Established'
 'flow=From-Botnet-V1-SPAM' 'flow=From-Botnet-V1-TCP-Attempt'
 'flow=From-Botnet-V1-TCP-HTTP-Google-Net-Established-1'
 'flow=From-Botnet-V1-UDP-Established'
 'flow=From-Botnet-V1-TCP-HTTP-SSL-Google-Net-Established-1'
 'flow=From-Bo']

### LABEL

In [ ]:
replace = {"Background": 1, "Botnet":2}

selected_df['Label'] = selected_df['Label'].apply(lambda x: str(x))

for value in selected_df['Label']:
    if "Background" in value:
        value = 2
    elif "Botnet" in value:
        value = 1
    else:
        value = 3

selected_df.head(10)

,Label,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,TotPkts,TotBytes
0,nan,llc,00:00:00:00:00:00,0,->,00:00:00:00:00:00,0,INT,NaN,1.0,60.0
1,nan,arp,0.0.0.0,NaN,who,10.0.2.22,NaN,INT,NaN,3.0,126.0
2,nan,ipv6-icmp,::,135,->,ff02::1:ff01:e8a5,0,NNS,0.0,1.0,78.0
3,nan,ipv6-icmp,fe80::705a:530f:1701:e8a5,133,->,ff02::2,0,NRS,0.0,2.0,140.0
4,nan,ipv6-icmp,fe80::705a:530f:1701:e8a5,143,->,ff02::16,0,UNK,0.0,2.0,180.0
5,nan,ipv6-icmp,fe80::705a:530f:1701:e8a5,133,->,ff02::2,0,NRS,0.0,1.0,70.0
6,nan,udp,fe80::705a:530f:1701:e8a5,546,->,ff02::1:2,547,INT,0.0,3.0,438.0
7,nan,arp,10.0.2.22,NaN,who,10.0.2.2,NaN,CON,NaN,2.0,84.0
8,nan,udp,fe80::705a:530f:1701:e8a5,546,->,ff02::1:2,547,REQ,0.0,1.0,146.0
9,nan,arp,10.0.2.22,NaN,who,10.0.2.2,NaN,CON,NaN,2.0,84.0

### PROTO

In [ ]:
Proto_all_types = selected_df['Proto'].unique()
print(Proto_all_types)

['llc' 'arp' 'ipv6-icmp' 'udp' 'icmp' 'tcp' nan]

In [ ]:
replace = {}

print(selected_df['Proto'].dtype)

for value in selected_df['Proto']:
    if str(value) not in replace.keys():
        replace[str(value)] = 1
    elif str(value) in replace.keys():
        replace[str(value)] += 1

num = 0
replace_new = {}
for x in range(len(replace)):
    max_key = max(replace, key=replace.get)
    num += 1
    replace_new[max_key] = num
    del replace[max_key]

for value in selected_df['Proto']:
    if str(value) in replace_new:
        value = replace_new[str(value)]

selected_df.head(5)

object

,Label,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,TotPkts,TotBytes
0,nan,llc,00:00:00:00:00:00,0,->,00:00:00:00:00:00,0,INT,NaN,1.0,60.0
1,nan,arp,0.0.0.0,NaN,who,10.0.2.22,NaN,INT,NaN,3.0,126.0
2,nan,ipv6-icmp,::,135,->,ff02::1:ff01:e8a5,0,NNS,0.0,1.0,78.0
3,nan,ipv6-icmp,fe80::705a:530f:1701:e8a5,133,->,ff02::2,0,NRS,0.0,2.0,140.0
4,nan,ipv6-icmp,fe80::705a:530f:1701:e8a5,143,->,ff02::16,0,UNK,0.0,2.0,180.0

### SRCADDRESS

In [ ]:
selected_df = selected_df.drop(columns=['SrcAddr'])
selected_df.head(5)

,Label,Proto,Sport,Dir,DstAddr,Dport,State,sTos,TotPkts,TotBytes
0,nan,llc,0,->,00:00:00:00:00:00,0,INT,NaN,1.0,60.0
1,nan,arp,NaN,who,10.0.2.22,NaN,INT,NaN,3.0,126.0
2,nan,ipv6-icmp,135,->,ff02::1:ff01:e8a5,0,NNS,0.0,1.0,78.0
3,nan,ipv6-icmp,133,->,ff02::2,0,NRS,0.0,2.0,140.0
4,nan,ipv6-icmp,143,->,ff02::16,0,UNK,0.0,2.0,180.0